# Python Caches & Environments
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Large files and datasets
sam3/
data/
generated_data/quality
generated_data/segmentation_masks
generated_data/DEM_backup
old_files/
*.tif
*.tiff
*.png
*.jpg
*.jpeg
*.mp4
*.avi

# System/IDE configs (if initializing directly in the home directory)
.*
!/.gitignore
!/.github/
